---
layout: angebot_en
permalink: /en/solutions/
header_image_path: /assets/images/v2/pharma1.jpg
title: Our Service
bild_position_nach_schlagwort: 3
schlagworte:
  - Product promotion
  - Samples
  - Submission of promotional material
  - Seasonal focus
  - New launch
  - Action
  - New focus
  - USP
  - Indication variation
  - New study results
---

<div class="editable">
  <h2>You are facing challenges?</h2>

  <ul>
    <li>Too small or not existing sales force</li>
    <li>Too many products in the promotion</li>
    <li>A temporary lack of employees</li>
    <li>Internal or external structural changes</li>
  </ul>

  <p>... or do you want to launch a new product?</p>
  <p>We can assist you!</p>
</div>

<h2>We pass on your message!</h2>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="schlagworte">
      {% for schlagwort in page.schlagworte %}
        {% if forloop.index == page.bild_position_nach_schlagwort %}
          <img src="/assets/images/megaphone.jpg" alt="Megaphon" class="editable hidden-xs hidden-sm" />
        {% endif %}
        <div class="schlagwort">{{schlagwort}}</div>
      {% endfor %}
    </div>
  </div>
</div>