---
layout: angebot
permalink: /loesungen/
header_image_path: /assets/images/v3/bild6cut.jpg
title: Unser Service
bild_position_nach_schlagwort: 3
schlagworte:
  - Produktbesprechung
  - Musterabgabe
  - Abgabe von Werbematerial
  - Saisonschwerpunkt
  - Neueinführung
  - Aktionen
  - Neuer Fokus
  - USP
  - Indikationsveränderung
  - Neue Studien-Ergebnisse
---

<div class="editable space-after">
  <h2>Sie haben Herausforderungen?</h2>

  <ul>
    <li>Keinen oder zu kleinen Außendienst</li>
    <li>Zu viele Produkte in der Besprechung</li>
    <li>Einen temporären Personalengpass</li>
    <li>Interne oder externe Strukturveränderungen</li>
  </ul>

  <p>... oder möchten Sie ein neues Projekt umsetzen?</p>
  <p>Wir unterstützen Sie dabei!</p>
</div>

<h2>Wir geben Ihrer Botschaft ein Gesicht!</h2>

<!-- <div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="schlagworte">
      {% for schlagwort in page.schlagworte %}
        {% if forloop.index == page.bild_position_nach_schlagwort %}
          <img src="/assets/images/megaphone.jpg" alt="Megaphon" class="editable hidden-xs hidden-sm" />
        {% endif %}
        <div class="schlagwort">{{schlagwort}}</div>
      {% endfor %}
    </div>
  </div>
</div> -->


<div class="row">
  <div class="col-sm-7">
    {% for schlagwort in page.schlagworte %}
        <div class="schlagwort">{{schlagwort}}</div>
      {% endfor %}
  </div>
  <div class="col-sm-5">
    <img src="/assets/images/megaphone.jpg" alt="Megaphon" class="editable img-responsive" />
  </div>
</div>