<div id="kontakt" class="container space-before">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2 class="editable">Get in contact with us!</h2>
      <div class="text-center cta-box">
        <div class="lead cta-call editable"><p>(+49) 30 7974 7954</p></div>
        <hr />
        <small class="editable">or email:</small>
        <br />
        <form name="contact" method="post" action="/en/thankyou" netlify-honeypot="bot-field" netlify>
          <input type="email" name="email" class="form-control" id="InputEmail" placeholder="email address" required />
          <input type="text" name="name" class="form-control" id="InputName" placeholder="full name" required />
          <textarea name="message" class="form-control" rows="4" id="InputNachricht" placeholder="message" required></textarea>
          <button type="submit" class="btn btn-cta">Send</button>
        </form>
      </div><!-- /cta-box -->
    </div><!-- / col -->
  </div><!-- row -->
</div><!-- / container -->
