---
layout: default_en
---

<main class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-offset-1 col-lg-10">
      <div class="page-content">
        <header class="content-padding">
          <h1>{{page.title}}</h1>
        </header>
        <section class="content-padding">
          <a class="help-block" href="{{ "/en" | prepend: site.baseurl }}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> <span class="editable">Back to homepage</span></a><br />
          <div class="main-content">{{content}}</div>
        </section>

        <footer class="content-padding">
          <h3 class="editable">Pickup and Delivery Service</h3>
          <p class="editable">If you would like to choose our services, you can decide whether they should be provided in your rooms (That means we would come to your company.) or in our business rooms. Therefore, we would pick up your documents and would return them back to your office after working on them.</p>
          <br />
          <div class="help-block editable"><p>More Services: Through the sales experience of the business owner, it is also possible for us to build up sales structures according to your company concept.</p></div>
        </footer>

        <div class="andere-angebote">
          {% assign pages = site.pages | where:"layout","angebot_en" %}
          {% for p in pages %}
            {% unless p.title == page.title %}
              <a href="{{p.url | prepend: site.baseurl}}" class="angebot content-padding" style="background-image: linear-gradient( rgba(0,0,0,.3), rgba(0,0,0,.3) ), url('{{p.header_image_path}}');">
                <span class="hidden-xs hidden-sm">{{p.title}}</span>
              </a><!-- / angebot -->
            {% endunless %}
          {% endfor %}
        </div><!-- / andere-angebote  -->
      </div><!-- / page-content -->
    </div><!-- / col -->
  </div><!-- / row -->
</main>

{% include kontakt_en.html %}
